.head, .intro, .vidya-description, .socializing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    flex-direction: column;
    background-image: url("../img/20160618_151840.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.head div {
    font-size: 30px;
}

.intro, .vidya-description, .vidya-visual, .socializing {
    flex-direction: column;
}

.intro-title, .vidya-title, .book-title, .socializing-title{
    margin: 20px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid;
}

.vidya {
    display: flex;
    flex-direction: row;
}


.vidya-description{
    background-color: brown;
    width: 50%;
}

.vidya-description div{
    margin: auto;
    width: 50%;
    font-size: 150%;
    font-style: italic;
}

.vidya-visual {
    background-color: black;
    width: 50%
}


.vidya-visual figure, .vidya-visual div{
    margin: auto;
    width: 300px;
    height: 400px;
}

.vidya-visual figure img, .vidya-visual div iframe{
    margin: auto;
    box-shadow: gray 0 0 10px;
    width: 300px;
    height: 400px;
}



.book-imgs figure {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 400px;
}

.book-imgs figure img {
    border: 1px solid white;
    box-shadow: gray 0 0 10px;
    width: 300px;
    height: 400px;
} 

.books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-imgs figure {
    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    height: 400px;
}

.book-imgs figure img {
    border: 1px solid white;
    box-shadow: gray 0 0 10px;
    width: 300px;
    height: 400px;
}

.socializing {
    margin-top: 30px;
    width:100%;
}