#game {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 100px 0px;
}

#timer {
    background-color: black;
    color: white;
    width: 80px;
    margin: 20px auto;
    border-radius: 50%;
}