.welcome, .contact {
    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome {
    flex-direction: column;
    background-image: url("../img/20160709_101536.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    height: 535px;
}

.welcome h1 {
    font-size: 70px;
    color: white;
}

.welcome p {
    width: 600px;
    font-size: 20px;
    color: white;
}

.contact {
    margin: auto 0;
    background-color: lightblue;
    text-decoration: none;
    flex-grow: 1;
}