body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.Container {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.Container .Slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 75%;
    float: left;
}

.Container .Slider .Slide{
    width: 25%;
    height: 100%;
    float: left;
    background-color: blue;
}

.Container .Slider .Slide .Navigation-Dot{
    height: 1px;
    width: 1px;
    background-color: rgb(233, 223, 223);
    border-radius: 50%;
    display: inline-block;

    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    padding: 10px;
}