.head, .education, .awards-acheivements, .skills,
.projects, .work-experience {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.head {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.awards-acheivements-content ul li {
    list-style-type: none;
}

.education, .awards-acheivements, .skills, .projects,
.work-experience, .wurzburg, .cancer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}


.education-title, .education-detail {
    text-align: left;
}

.education-title, .awards-acheivements-title, .skills,
.projects, .work-experience-title {
    border-top: 1px solid;
}

.education-title h2, .education-detail p, .education-diploma p,
.awards-acheivements-title h2, .skills h2, .projects h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.education-diploma p {
    margin-left: 82px;
}


.awards-acheivements-content {
    padding-top: 0px;
}

.awards-acheivements-content ul, .skills-list ul {
    display: inline-block;
    *display: inline;
    margin-top: 0px;
}

.awards-acheivements-content ul {
    padding-left: 0px;
    padding-right: 42px;
}



.work-experience-title h2{
    margin-top: 0px;
}


.left {
    float: left;
}

.right {
    float: right;
}
