.head, .education,
.projects, .work-experience {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.head .title{
    text-align: center;
}

.left-align{
    float:left;
}

.right-align{
    float:right;
}

p{
    clear:both;
}


.education-detail, .work-experience-detail {
    display: flex;
    justify-content: space-between;
}

.education-detail p, .work-experience-detail p{
    font-weight: bold;
}

.education-content ul li, .work-experience-content ul li,
.wurzburg-project-content ul li, .personal-project-content ul li{
    margin-bottom: 5px;
}

.education-title, .work-experience-title, .projects-title {
    border-bottom: 3px solid;
}

.education-title h4, .education-detail p, .work-experience-title h4,
.work-experience p, .projects-title h4, .wurzburg-project-title h4{
    margin-top: 0px;
    margin-bottom: 0px;
}



